<div class="text-center mt-2 mb-4">
    <p class="lead">
        <a href="https://platform.openai.com/docs/api-reference/chat" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">OpenAI API</a>
        <a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">Flask</a>
        <a href="https://getbootstrap.com/docs/5.3/examples/" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">Bootstrap</a>
        <a href="https://docs.python.org/3/" target="_blank" class="btn btn-lg btn-light fw-bold border-white bg-white">Python</a>
      </p>
</div>